.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.list {
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    line-height: 137.687%;
    display: flex;
    gap: 1ch;
    justify-content: center;
    max-width: 70%;
    overflow-x: auto;
}


.item {
    transition: color 0.25 ease, font-size 0.25 ease
}


.item_active {
    color: rgb(120, 192, 255);
    font-size: 22px;
    font-weight: 600;
}

button.button {
    color: #353637;
    max-width: fit-content;
}


.button.button_notActive {
    background-color: aliceblue;
}

.button.button_notActive:hover {
    box-shadow: none;
}