.sceletonRow {}

tr.sceletonRow td {
    position: relative;
    padding: 25px 0;
}

.sceletonRow td::before {
    content: "";
    display: block;
    position: absolute;
    inset: 10px;
    background-color: rgba(191, 191, 191, 0.571);
    border-radius: 4px;
    animation: sceletonAnimate 4s ease-in-out infinite;
}

@keyframes sceletonAnimate {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}